<section class="content" ng-controller='ListController' ng-init="
								paginateBy = {{paginateBy}};
 								hasPrev = ('False' != '{{page_obj.has_previous}}');
 								hasNext = ('False' != '{{page_obj.has_next}}');
 								user_list = ">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Permissions</h3>
					<div class="box-tools">
						<span><b>Page {[{currentPage}]} of {{paginator.num_pages}}</b></span>
						<div class="btn-group">
							<button ng-disabled="!hasPrev" ng-click="prevPage()" type="button" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left"></i></button>
							<button ng-disabled="!hasNext" ng-click="nextPage()" type="button" class="btn btn-sm btn-primary"><i class="fa fa-chevron-right"></i></button>
						</div>
						<!-- <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus" style="margin-right: 7px"></i>Next</button> -->
					</div>
				</div>
				<div class="box-body no-padding">
					<table class="table">
						<tbody>
							<tr>
								<th style="width: 10px">#</th>
								<th>Username</th>
								<th>Email Address</th>
							</tr>
							{% for user in user_list %}
								<tr>
									<th style="width: 10px">{{user.pk}}</th>
									<th>{{user.username}}</th>
									<th>{{user.email}}</th>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>