{% extends "nepcore/base.html" %}

{% block css %}
	<link rel="stylesheet" href="/static/nepcore/css/main.css">
{% endblock %}

{% block js %}
	<script src="/static/nepcore/angular/app.js"></script>
	<script src="/static/nepcore/angular/factory.js"></script>
	<script src="/static/nepcore/angular/directive.js"></script>
	<script src="/static/nepcore/angular/controllers/general.js"></script>
	<script src="/static/nepcore/angular/controllers/list.js"></script>
	<script src="/static/nepcore/angular/controllers/dynamicForms.js"></script>
{% endblock %}

{% block body %}
	<body class="skin-black sidebar-mini" ng-app="NeptuneApp">
	<div class="wrapper">

		<header class="main-header">
			<!-- Logo -->
			<a href="index2.html" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>HG</b></span>
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Hatfield Group</b></span>
			</a>
			<nav class="navbar navbar-static-top" role="navigation">
			  <!-- Sidebar toggle button-->
			  <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			  </a>
			  <div class="navbar-custom-menu">
				<ul class="nav navbar-nav">

					<li>
						<a ui-sref='index' href="#" class="hidden-xs"> 
						  <span>Welcome {{view.request.user}}</span>
						</a>
					</li>
					<li>
						<a ng-href="/nepcore/logout/">
						  <i class="fa fa-sign-out hidden-lg-md"></i>
						  <span class="hidden-xs"> Logout</span>
						</a>
					</li>
					<li>
						<a ui-sref='index' href="#"> <span>Powered by Neptune</span></a>
					</li>

				  </ul>
			  </div>
			</nav>
		</header>
		<!-- </div> -->
		{% block menu %}
			<aside class="main-sidebar" scroll ng-style="navOffset" style="position: fixed">
				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">
					{% autoescape off %}{{menu.render}}{% endautoescape on %}
				</section>
			</aside>
		{% endblock %}
		<!-- <div class="content-wrapper"> -->
		<div class="content-wrapper" ui-view>
			{% block content %}
			{% endblock %}
		</div>
		<!-- </div> -->
	</div>
	</body>

	{% block extra_js %}
	{% endblock %}
{% endblock body %}