{% extends "nepcore/base.html" %}

{% block js %}
	<script>
		app.run(['$state', function ($state) {
			$state.transitionTo('index');
		}])

		app.config(function($stateProvider, $urlRouterProvider, $interpolateProvider){
			$interpolateProvider.startSymbol('{[{').endSymbol('}]}');
			$stateProvider
				{% for state in state_manager.states %}
					.state('{{state.name}}', {
						url: '{{state.url}}',
						
						{% if state.params %}
						templateUrl: function($stateParams){
							return '{{state.link}}' + $stateParams.itemName
						}
						{% else %}
						templateUrl: '{{state.link}}',
						{% endif %}

					})
				{% endfor %}
			$urlRouterProvider.otherwise('index');
		});

		app.factory('DynamicForm', function(){
			function DynamicFormInstance(index){
				this.index = index;
				this.formData = {};
				this.errors = {}
				this.lowerIndex = function(){
					this.index = this.index - 1;
				}
			};

			return {
				createNew: function(index){
					return new DynamicFormInstance(index);
				}
			};
		});

		app.controller('postController', function($scope, $http) {
			// create a blank object to handle form data.
				$scope.formData = {};
				$scope.formErrors = {};
			// calling our submit function.
				$scope.submitForm = function(url) {
					// Posting data to php file
					$http({
						method: 'POST',
						url: url,
						data: $scope.formData
						}).then(function successCallback(response) {
							$scope.formData = {};
							$scope.formErrors = {};
						}, function errorCallback(response) {
							$scope.formErrors = response.data;
						});
			};
		});

		app.controller('dynamicForms', function($scope, $http, DynamicForm) {
			// This handles the forms html when adding and removing forms.
			$scope.forms = [DynamicForm.createNew(0)];
			$scope.count = 1
			$scope.removeForm = function(i){
				$scope.forms.splice(i, 1);
				forms = $scope.forms.slice(i)
				for (index in forms){
					forms[index].lowerIndex();
				};
				$scope.count = $scope.count - 1;
			};
			$scope.addForm = function(){
				$scope.forms.push(DynamicForm.createNew($scope.count));
				$scope.count = $scope.count + 1;
			};

			// Submission of dynamic forms is a bit different to normal forms.
			// create a blank object to handle form data.
				$scope.formData = {};
				$scope.formErrors = {};

			// calling our submit function.
				$scope.submitForm = function(url) {
					// add the dynamic forms data to the global form data.
					$scope.formData.attributes = []
					for (index in $scope.forms){
						form = $scope.forms[index];
						form.formData.index = form.index;
						$scope.formData.attributes.push(form.formData);
					};
					// Posting data to django as json
					$http({
						method: 'POST',
						url: url,
						data: $scope.formData
						}).then(function successCallback(response) {
							$scope.formData = {};
							$scope.forms = [DynamicForm.createNew(0)];
							$scope.count = 1;
							$scope.formErrors = {};
						}, function errorCallback(response) {
							$scope.formErrors = response.data;
						});
			};
		});
	</script>
{% endblock %}

{% block body %}
	<body class="skin-black sidebar-mini" ng-app="NeptuneApp">
	<!-- <div class="wrapper"> -->

		<header class="main-header">
			<!-- Logo -->
			<a href="index2.html" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>HG</b></span>
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Hatfield Group</b></span>
			</a>
			<nav class="navbar navbar-static-top" role="navigation">
			  <!-- Sidebar toggle button-->
			  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			  </a>
			  <div class="navbar-custom-menu">
				<ul class="nav navbar-nav">

					<li class="dropdown user user-menu">
						<a ng-href="#" 
						  <span class="hidden-xs">Welcome {{view.request.user}}
						</a>
					</li>
					<li class="dropdown user user-menu">
						<a ng-href="/nepcore/logout/" 
						  <span class="hidden-xs">Logout
						</a>
					</li>
					<li class="dropdown user user-menu">
						<a ng-href="#">  <span class="hidden-xs">Powered by Neptune</span></a>
					</li>

				  </ul>
			  </div>
			</nav>
		</header>
		<!-- </div> -->
		{% block menu %}
			<aside class="main-sidebar">
				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">
					{% autoescape off %}{{menu.render}}{% endautoescape on %}
				</section>
			</aside>
		{% endblock %}
		<!-- <div class="content-wrapper"> -->
		<div class="content-wrapper" ui-view>
			{% block content %}
			{% endblock %}
		</div>
		<!-- </div> -->
	</body>

	{% block extra_js %}
	{% endblock %}
{% endblock body %}